.container.about {
    height: calc(100vh - 120px);
    text-align: center;
}

.container.about h2 {
    text-align: start;
}

.container.about .about-p {
    text-align: start;
}

.container.about img {
    text-align: start;
    float: left;
}