.container.blog-hero {
    background-color: var(--secondary-color);
    text-align: center;
}
.container.blog-hero h1 {
    font-size: 50px;
    display: inline-block;
    width: 100%;
    margin-bottom: 20px;
}

.container.blog {
    text-align: center;
}

.container.blog article h2 { 
        margin: 20px 0;
        text-align: start;
        margin-left: 70px;
    }

.container.blog .row article p {
    line-height: 1.4;
    text-align: start;
    margin: 10px 70px;
}


.container.blog img {
    width: 700px;
}

.container.other-blogs {
    background-color: var(--secondary-color)
}