.btn {
    display: inline-block;
    color: var(--btn-secondary-color);
    background-color: var(--btn-main-color);
    text-decoration: none;
    font-size: 15px;
    padding: 12px 26px;
    line-height: 1.5;
    letter-spacing: 1px;
    border: 2px solid var(--btn-main-color);
    transition: all 0.5s;
}

    .btn:hover {
        color: var(--btn-main-color);
        background-color: var(--btn-secondary-color);
        cursor: pointer;
    }

    .container .contact-form .row {
        position: relative;
    }

    .btn.circle {
        position: absolute;
        text-align: center;
        top: -24px;
        right: 190px;
        padding: 10px;
        height: 40px;
        width: 40px;
        border-radius: 50%;
        font-size: 20px;
        line-height: 20px;
    }

 

   
    

  