header {
    position: fixed;
    top: 0;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 8vh;
    background-color: var(--secondary-color);
    z-index: 10;
}

header .logo {
    color: var(--main-text-color);
    font-size: 20px;
}

header nav {
    display: flex;
    justify-content: space-around;
    width: 30%;
}

header nav {
    width: 20%;
}

header nav a {
    color: var(--main-text-color);
    text-decoration: none;
    margin-right: 50px;
    letter-spacing: 3px;
    font-size: 16px;
}

header nav a:last-of-type{
    margin-right: 0;
} 

header nav a.fa {
    width: 20px;
    height: 20px;
    font-size: 20px;
}

header nav a:nth-last-child(3) {
    margin-left: 50px;
}

.burger {
    display: none;
}

.burger div {
    width: 25px;
    height: 3px;
    background-color: var(--main-text-color);
    margin: 5px;
    transition: all 0.3s ease;
}

@media (max-width: 1200px){
    header nav a {
        margin-right: 30px;
    }
}

@media (max-width: 1080px) {
    nav {
        width: 60%;
    }
}

@media (max-width: 960px) {
    body {
        overflow-x: hidden;
    }
    
    nav {
        position: fixed;
        left: 0px;
        height: 92vh;
        top: 8vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 50%;
        transform: translateX(-100%);
        background-color: var(--main-color);
    }

    header nav a:nth-last-child(3) {
        margin-left: 0;
    }
    
    nav a {
        opacity: 0;
    }
    
    
    .burger {
        display: block;
        cursor: pointer;
    }
}

.nav-active {
    transition: transform 0.5s ease-in;
    transform: translateX(0%);
}

@keyframes navLinkFade {
    from {
        opacity: 0;
        transform: translateX(50px);
    }
    to {
        opacity: 1;
        transform: translateX(0%);
    }
}

.x .line1 {
    transform: rotate(-45deg) translate(-5px, 6px);
}

.x .line2 {
    opacity: 0;
}

.x .line3 {
    transform: rotate(45deg) translate(-5px, -6px);
}