.container.hero {
    min-height: 100vh;
    background-color:var(--secondary-color);
    overflow: hidden;
}

/* hero left side */

        .container.hero > .row > .col-6 {
            text-align: center;
        }

            .container.hero .col-6 h1{
                display: inline-block;
                width: 100%;
                font-size: 38px;
                margin: 280px 0 30px;
            }

            .container.hero .col-6 .titles{
                width: 100%;
                font-size: 20px;
                margin: 10px 0; 
                word-wrap: normal;
            }

/* hero right side */

.container.hero .view {
    display: inline-block;
    width: 100%;
    overflow: hidden;
    margin-top: 150px;
}

.container.hero .view .list {
    display: inline-block;
    width: 100%;
    transition: all 1s;
}

.container.hero .list .item {
    width: 100%;
    padding: 0 40px;
    text-align: center;
    float: left;
}

                    .container.hero .controls .minus {
                        display: inline-block;
                        width: 12px;
                        height: 12px;
                        border-radius: 50%;
                        margin: 4px 1px 20px 4px;
                        background-color: black;
                        opacity: 0.5;
                        transition: opacity 0.5s;
                    }
        
                    .container.hero .controls .minus:hover {
                            opacity: 0.75;
                            cursor: pointer;
                        }

                        .container.hero .controls .minus:active{
                            background-color: var(--accent-color); /*removable*/
                        }
                        
                        .container.hero .controls .minus.active {
                            opacity: 1;
                        }

@media (max-width: 860px) {
    .container.hero .project-side {
        display: none;
    }

    .container.hero .project-side .btn {
        margin: auto;
    }
}

@media (max-width: 680px){

}
           

                