:root {
    --main-color: white;
    --secondary-color: rgb(241, 241, 241);
    --main-text-color: #000;
    --main-font: Helvetica, sans-serif;
    --section-padding: 80px;
    --btn-main-color: #000;
    --btn-secondary-color: #fff;
    --row-gap: 30px;
}