:root {
    --main-color: white;
    --secondary-color: rgb(239, 240, 230);
    --main-text-color: #000;
    --main-font: Helvetica, sans-serif;
    --section-padding: 80px;
    --btn-main-color: #000;
    --btn-secondary-color: #fff;
    --row-gap: 40px;
    --accent-color: rgb(0, 195, 255);
}