.container.work {
    min-height: 100vh;
}

.container.work .list.row {
    overflow: hidden;

}

    .container.work > .row {
        padding: 0;
    }

        .container.work > .row > .col-12 {
            
        }

            .container.work > .row h2 {
                
            }

            .container .project{
                
            }

            .container.work .row .col-3 {
                
            }
